<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ config.title }}</title>
    <script src="{{ root }}/static/jquery-3.5.0.min.js"></script>
    <script src="{{ root }}/static/laps.js"></script>
    <link href="{{ root }}/infoscreen.css" rel="stylesheet" type="text/css">
</head>
<body>
{% block body %}
{% endblock %}
</body>
</html>