{% extends 'base.twig' %}
{% block body %}
<span id="time"></span>
<div id="laps" data-refresh="{{ config.refresh_interval }}"></div>
{% if config.disable_button %}
    <span id="disable_refresh">Disable refresh</span>
{% endif %}

<div>
    <dl id="laptimeslegend">
        <dt class="faster"> Laptime is faster than previous laptime</dt>
        <dd></dd>
        <dt class="slower"> Laptime is slower than previous laptime</dt>
        <dd></dd>
        <dt class="best-time"> Best laptime</dt>
        <dd></dd>
    </dl>
</div>
{% endblock %}